<template name="Header">
  <header>
    <!-- header -->
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">

            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="javascript:void(0)">
                  <img src="images/logo-meteor.png" class="img-responsive logo" alt="" />
                </a>
            </div>
            {{> Navigation}}
        </div>
    </div>
    <!-- end header -->
  </header>

</template>
